body {
    text-align: center;
    margin: 0px;
    padding: 0px;

    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.page-title {

  background: #242424;

  min-width: 68.75em;

  max-width: 75em;
  
  padding: 0 1em;
width: 100%;
top: 193px;
height: 31px;
}
@font-face{
  font-family: "TrebuchetMS";
  src: url(fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "WebSymbolsRegular";
  src:url(fonts/websymbols-regular-webfont.eot);
  src:url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'), 
      url(fonts/websymbols-regular-webfont.woff) format('woff'), 
      url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
      url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg');
      font-weight: normal;
      font-style: normal;
  }

.btncarrito{
  position: relative;
  margin-left: 60%;

}
.inputnumber{
  width:10%;
  margin-left: 51%;
  border-radius: 10px, 10px,10px,10px;
}
.eliminacarro{
  margin-left: 39px;
  margin-top:-111px;
}
.app-logo-header{
  width:30px;

}
.aside-box{
  width: 85%;
  height: 200px;
  margin: 0px auto;
  margin-top: 20px;
  padding-top: 2px;
  background: white;
  color: gray;
    border: 1px solid #ccc;
}

#categorilateral ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#categorilateral li{
  font-size: 15px;
  font-family: Open Sans,Arial,sans-serif;
  cursor: pointer;
  display: block;
  margin: 1.25em 0;
}

#categorilateral a{
  color: #222;
  font-size: 17px;
}
/*CONTACT
*/


#contacts{
  width: 860px;
  float: left;
}

#contacts h2{
  display: block;
  width: 100%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

#contacts contact{
  width: 98%;
  height: auto;
  border: 1px solid #ccc;
  margin: 40px auto;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: white;
  color: black;
  box-shadow: 1px 1px 2px #ddd;


}
#contact article h4{
  display: block;
  font-size: 23px;
  margin:3px;


}

#contacts contact h4 a{
  text-decoration: none;
  color: #00538c;
}
#contacts contact h4 a:hover{
  text-decoration: underline;
}
.clearfix{
  float:none;
  clear: both;
}

#contacts .data{
  float: right;
  background: #393d3f;
  color:white;
  height: 30px;
  line-height: 30px;
  margin: -10px;
  padding: 4px;
  font-size: 13px;
  border-radius: 0px 0px 0px 5px;
}

#contacts .data span{
  margin :6px;
}

#contacts contact p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.tablecontact{
  margin-left: -64px;
  margin-top: 40px;
}
.tableCategori{
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  margin-left: -58px;

}
.tramitar{
  margin-top:77px;
  margin-left: 63px;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  

  .hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }
  
  .hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
.product-image{
  float: left;
position: relative;
font-size: 1rem;
width: 30%;}
.generalcarro{
  height: 100%;
  margin-top: -45px;
}
#product-info{
  float: right;
  position: relative;
  font-size: 1rem;
  width: 54%;
  margin-right: 114px;
  margin-top: -443px;
}
#tableCarro{
  width:100%
  
}
#tableCarro h2{
  text-transform: uppercase;
  font-size: 25px;
    font-weight: initial;
    margin-left: 47.5em;}
.cardimgcarro{
  width: 124px;
  height: 112px;
}
#tableCarro th{
  padding: 4px;
  background: #e1e1e1;
  font-family: Open Sans, Arial, sans-serif;
  text-align: center;
}

#tableCarro td{
  padding: -3px;
  text-align: center;
}
#tableCarro table{
  width: 61%;
  margin: 32px;
  margin-left: 243px;}
.product{
  margin-left: 68px;
  width: 100%;
}
.addCart{
  background-color: #8c8;
color: #fff;
letter-spacing: .1em;
padding: 1em 0;
text-align: center;
display: block;
text-decoration: none;
text-transform: uppercase;
font-size: .75em;
letter-spacing: .01em;
border: 1px solid transparent;
width: 60%;
    float: right;
}
.addfav{
  display: block !important;
  text-align: center;
  float: left;
  width: 31%;
  margin-left: -25px;
  cursor: pointer;
  font-size: .75em;
  letter-spacing: .01em;
  padding: 1em 0;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.hacerpedido{
  background-color: #8c8;
color: #fff;
letter-spacing: .1em;
padding: 7px 0;text-align: center;
display: block;
text-decoration: none;
text-transform: uppercase;
font-size: .75em;
letter-spacing: .01em;
border: 1px solid transparent;
width: 200px;
    margin-left: 964px;
    margin-top: -47px;
}

.total{
  margin-left: -250px;
  margin-top: 46px;
  height: 61px;
}
#texttramite{
  width: 32%;
    margin-left: 70px;
}
#texttramite p{
  width: 645px;
}
#texttramite h5 {

}
.quitCart{
  background-color: #dc3545;
color: #fff;
letter-spacing: .1em;
padding: 6px 0;
text-align: center;
display: block;
text-decoration: none;
text-transform: uppercase;
font-size: .75em;
letter-spacing: .01em;
border: 1px solid transparent;
}

.quitCart:hover{
  background-color: rgb(231, 130, 130);
  color: #fff;

  
}

.deleteCart{
  background-color: #dc3545;
  letter-spacing: .1em;
padding: 1em 0;
text-align: center;
display: block;
text-decoration: none;
text-transform: uppercase;
width: 162px;
margin-left: 281px;
margin-top: -59px;
}
.addCart:hover{
  background-color: rgb(29, 112, 29);
  color: #fff;
  
}
.titleproduct{
  line-height: 2.1em;
  font-size: 24px;
  color: #757676;
  padding: 19px;
  border-bottom: 1px solid #f0f0f0;
  color: #3e3e3e;
  text-transform: uppercase;
  line-height: 1em;
  margin: 30px;
}
.descripcionProduc{
  background: #fafafa;
padding: 1em;
border: 1px solid #ddd;
position: relative;
z-index: 1;
float: left;
width: 55%;
margin-left: 70px;
margin-top: 38px;}
.imgstyle{
  margin-left: -11%;
height: 48%;
width: 110%;
}

.buttonarticle{
  margin-top: 88px;
}
.imgA{
    width: 80%;
    height: 60%;
}
#tramite{
  width: 60%;
  margin-left: 310px;
}
#header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #09a330;
}

.center{
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear:both;
    float:none;
}
#articlefav{
  width: 71%;
  margin-left: 88px;
}
#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}
.logofav{
  width: 26px;
  height: 23px;
  margin-left: 152px;
  margin-top: 73px;
  position: absolute;
  cursor: pointer;

}

.logofavarticle{
  width: 26px;
  height: 24px;
  margin-left: -29px;
  margin-top: 13px;
  position: absolute;
  cursor: pointer;
}
.logofav:hover{
  background: url("../heartblack.png")  no-repeat;
}

.favheart{
 background-color: red;
  
}
#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 10px;
    animation: latir infinite 5s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.02, 1.02);
    }

    55%{
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}
#categorias{
  clear:both;

  background: #222;
  color:white;
  height: 55px;
  border-bottom: 4px solid #09a330;}
#categorias a{
  color:white;
  text-decoration: none;

}

#categorias ul{
 list-style:none;
 text-decoration: none;
 margin: 0px auto;
 margin-left: 25px;


}
#categorias ul li{
  line-height: 55px;
  float: left;
  border-right: 9px solid #222;


}

#menu{
    width: 70%;
    float:right;
    font-size: 17px;
}

#menu ul{
    line-height: 85px;
    width:95%;
    float:right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}


#menu a:hover,
#menu .active{
    color: #0dcc46;
}

#slider{
    width: 100%;
    height: 300px;
    
    /*line-height: 320px;*/
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*DEGRADADO CSS*/   
    background: rgba(119,194,81,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(119,194,81,1) 0%, rgba(8,145,42,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(119,194,81,1)), color-stop(100%, rgba(8,145,42,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(119,194,81,1) 0%, rgba(8,145,42,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(119,194,81,1) 0%, rgba(8,145,42,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(119,194,81,1) 0%, rgba(8,145,42,1) 100%);
    background: radial-gradient(ellipse at center, rgba(119,194,81,1) 0%, rgba(8,145,42,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c251', endColorstr='#08912a', GradientType=1 );


}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btn-white{
    display: block;
    background: white;
    color:rgb(88, 88, 88);
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color:white;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}
.modal{
    width: 600px;
}
#content{
  
    width: 98%;  
    float: left;
min-height: 663px;
margin-right: 48px;
margin-left: -90px;

}
/*MI PERFIL*/

.infocliente{

    border: 1px solid #c5c5c5;
    background-color: #f0f0f0;

}
.menu-profile{
  padding-bottom: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-width: 1px 0;
    padding: 2em;
    width: 100%;
    display: table-cell;
    float: left;
    position: relative;

}

.namecliente{
  font-weight: 200;
  font-size: 21px;
  color: #484848;
  word-wrap: break-word;
}

.cerrarprofile{
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 1em;
  color: #242424;
  cursor: pointer;
  text-decoration: underline;
}
.pedidosprofile{
  font-size: .9rem;
  margin: 1.25em 0;
  padding: 0 32px;
  width: 100%;
  display: table-cell;
  float: left;
  position: relative;
  background-color: #f0f0f0;

}
.form-legend{
  text-transform: uppercase;
  margin-left: -1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #242424;
  margin-bottom: .75rem;
  padding: 0 1rem;
}
.title_with_icon{
  display: inline-block;
  padding: .5rem 0 .2rem 32px;
  margin-bottom: 1rem;
  font-size: 19px;
  font-weight: 400;
  vertical-align: top;
  color: #242424;
  border-bottom: 2px solid #f0f0f0;
}
.ts-my-orders{
  display: block;
    font-size: 13px;
    line-height: 2rem;
    font-weight: 400;
    color: #484848;
    text-decoration: none;
}
#contentProfile{
  margin-left: 113px;
  width: 302px;
}

#infouser{
  background: #fff;
  box-sizing: content-box;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  width: 53%;
  border: 1px solid #c5c5c5;
  margin-left: 35%;
  margin-top:-22%;
}

.title_main{
  margin: 1rem 0 0 0;
  font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    color: #8f8f8f;
    text-align: center;
}

.title-block{
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.link_primary{
  color: #242424;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    margin-bottom: 12px;
    background-color: transparent;
    border: none;
    outline: 0;
    margin-top: 13px;
  
}
.emailcliente{
  margin-left: 33px;
      padding: 29px;
}

.direccion_none{
  width: 75%;
    margin-left: 80px;
  color: #c09853;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border: 1px solid #fbeed5;
  border-radius: 4px;
    font-weight: 500;
}
.textmodify{
  width: 69%;
  margin-left: 112px; 
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  line-height: 24px;
}
.changecuentabutton{
  margin: 28px;
  width: 275px;
  font-size: 13px;
  background-color: #242424;
color:#fff;
    border: solid 1px #242424;
  border-radius: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 400;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.changecuentabuttonPedido{
  margin: 28px;
  width: 159px;
  font-size: 13px;
  background-color: #242424;
color:#fff;
    border: solid 1px #242424;
  border-radius: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 400;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.changecuentabutton:hover{
  background-color: #2424249e;
  border:solid 1px #24242438;
}

.changecuentabuttonPedido:hover{
  background-color: #2424249e;
  border:solid 1px #24242438;
}
.form-input1{
  margin: 40px;
  line-height: 2.5em;
  height: 40px;
  color: #484848;
  font-weight: 200;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  width: 40%;
  padding: .5em 1em;
  font-size: 14px;
  background-color: #fff;
  border: solid 1px #c5c5c5;
  text-align: left;
}
.form-input {
  margin: 20px;
  line-height: 2.5em;
  height: 40px;
  color: #484848;
  font-weight: 200;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  width: 20%;
  padding: .5em 1em;
  font-size: 14px;
  background-color: #fff;
  border: solid 1px #c5c5c5;
  text-align: left;
}
.text_acceso{
  width: 100%;
  margin-top: 23px;
  margin-left: 28px;
  clear: both;
  line-height: 2.5em;
  font-size: 13px;
  font-weight: 400;
  color: #484848;
  text-transform: uppercase;
}


.formchangepassword{
  border-top: 1px solid #f0f0f0;
  display: inline-block;
    background: #fafafa;
    padding: 1em;

}
.inputpassword{
  padding-right: 1em;
  
  width: 100%;
  float: left;
  position: relative;
}
.inputpassword2{
  padding-right: 1em;
  
  width: 100%;
  float: left;
  position: relative;
}
 /*banner*/
 #banner{
  width: 95.5%;
  height: 264px;
  border:10px solid white;
  box-shadow: 0px 0px 2px gray;
  background: url("../banner.jpeg");
  background-position: -200px -200px;
  margin:20px auto;
  animation: backbanner 10s linear;
  overflow: hidden;
}
@keyframes backbanner{
  0%{
      background-position: 0px 0px;
  }100%{
      background-position: -200px -200px;

  }
}
.btn-dark{
  font-size: 12px;
  margin-left: 86px;
}
#banner h1{
  display: block;
  width: 850px;
  font-family: "BebasNeue";
  color: white;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 27px auto;
  margin-left: 40px auto;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  animation: showtext 10s linear;
  margin-top: 100px;
}
@keyframes showtext {
  0%{
    transform: translateX(-600%) scale(4,4);
    opacity: 1;
  }50%{
      transform: translateX(600%) scale(4,4);
      opacity: 1;
  }75%{
      transform: translateX(-600%) scale(,5);
   
      opacity: 0;
  }100%{
      transform: translateX(0%) scale(1,1);
      text-shadow: 2px 2px 1px black;
      color:white;
      opacity: 1;
  }
}

/*ARTICULOSS*/
.cardimg{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.preciocard{
  margin-top: 74px;
    margin-left: 7px;
    position: absolute;}
.precioantiguo{
  text-decoration: line-through;

  position: absolute;
  margin-top: 73px;
  margin-left: 61px;
  font-size: 13px;
  bottom: 8px;
}

.precioantiguoArticle{
  float: right;
  text-decoration: line-through;

}
    .descuento{
      position: absolute;
    margin-top: 73px;
    margin-left: 113px;
    font-size: 13px;
    bottom: 8px;
    }
    .descuentoArticle{
      margin-left: 84%;
    }
.titlecard{
  padding: 13px;
  position: absolute;
}

.card{
  float:left;
  width:199px;
  height: 313px;
  border:1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  overflow: hidden;
  margin: 11px;
      margin-top: 33px;
  background: white;

  transition: all 300ms;
}
.cardCliente{
  float:left;
  width:199px;
  height: 172px;
  border:1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  overflow: hidden;
  margin: 64px;
  margin-top: 22px;
  background: white;
  margin-left: 4px;
  transition: all 300ms;
}

.cardimg:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  animation: showIcon 300ms linear
}
.cardfooter{
  padding: 6px 16px;

}


#sidebar{
    width: 19%;
    float:left;
    margin-top: 90px;
    margin-left: -67px;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 18px;
    margin:0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
}

.btn{
   display: block;
   background: black;
   color: white;
   padding: 15px; 
   font-weight: bold;
   text-transform: uppercase;
   font-size: 14px;
   text-decoration: none;
   max-width: 120px;
   transition: 300ms all;
   border: none;
   cursor:pointer;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  .stock-color{
      color:red;
      text-align:right;
  }
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.addproductotb{
    margin-top: 100px;
    margin-left: 100px;
}
.image-small{
    width: 100px;
}

.btn-success{
    background: rgb(23, 150, 19);
}

.btn-warning{
    background: rgb(223, 206, 57);
    color:white !important;
}

.btn-danger{
    background: rgb(199, 33, 33);
    color:white !important;
}

.btn-success:hover{
    background:black;
}

.mid-form{
    width: 50%;
    margin: 0px auto;
}
.form-group{
  margin-left: 21px;
}
.mid-form label{
    display: block;
    float:left;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

input[type="text"],
textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus{
    box-shadow: 0px 0px 5px #eee inset;
}

textarea{
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}

.radibuttons{
    margin-top: 10px;
    margin-bottom: 10px;
    float:left;
}



#footer{
  
  background: #333;
  padding-top:5px;
  padding-bottom: 40px;
  margin-top: 30px;
  text-align: center;
color:white;


 
}
#footer .subheader{
  color:white;
}
#footer .wrap > div{
  float:left;
  width: 320px;
  height: 370px;
  margin:40px;
  text-align: center;
  color:white;
  font-family:"TrebuchetMS"


}
#footer ul {
  margin: 0px auto;
  width: 293px;
  display:block;
  list-style: none;
  margin-top: 20px;
   margin-bottom: 20px;
}
#footer ul li{
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  transition: all 300ms;
}
#footer ul li:hover{
opacity: 0.8;
transform: scale(1.1, 1.1);

}
.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 120px;
    height: 130px;
    overflow:hidden;
    float:left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width:100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122, 122, 122);
}

.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}
.subheaderCesta{
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  /* margin-left: 64px; */
  margin: 35px;
}
.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.ultimoarticle{
  width: 888px;
}

.article-detail .image-wrap{
    float:none;
    width:100%;
    height: 300px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: auto;
}

.article-detail .subheader{
    margin-top: 15px;
    margin-bottom: 0px;
    border:none;
}
.tablePedido{
  width: 72%;
  margin-bottom: 1rem;
  color: #212529;
  margin-left: 211px;
}
.tablePedido  th{
  padding: 4px;
  background: #e1e1e1;
  font-family: Open Sans, Arial, sans-serif;
  text-align: center;
}
.tablePedido  td{
  text-align: center;
  height: 49px;
    
}

.control{
  width: 23%;
  margin: 30px;
  margin-left: 21px;
}
.controlstatus{
  margin: 11px;
}
.filtrostatus{
  margin-left: 225px;
  width: 78%;
}
.labeloption{
  font-size: 21px;
  width: 100%;
}
.changeoption{
  width: 79%;
}

.text1{
  font-weight: bold;
}
.infopedido{
  width: 83%;
}
.productpedido{
  width: 116%;
}
.pedidotable{
  margin-left: -96px;

}
@media (max-width: 1488px){
  
    .center{
        width: 85%;
    }
    #MenuMovile{
      display:none;
    }
  
}

@media (max-width: 1677px){

#MenuMovile{
  display:none;
}
#content {
  width: 75%;
  margin-left: -48px; 
}
}


@media (min-width: 1314px){
    .center{
        width: 100%;
     
    }
#MenuMovile{
  display:none;
}
    #menu ul{
        width: auto;
        margin-right: 188px;
    }
    #banner{
      width: 77.5%
    }
    #content {
      width: 66%;
      margin-left: 232px;     }
    
    .card {
      width: 211px;
      height: 324px;}
}


@media only screen and (max-width: 29.9375em) and (min-width: 20em), only screen and (max-width: 19.9375em){
#btncategori {
  width: 59%;
  text-align: center;
  text-transform: uppercase;
  background-color: #fcfcfc;
  color: #3e3e3e;
  padding: 13px 0 0!important;
  margin: 0!important;
  border: 1px solid #f0f0f0;
  font-size: 17px;
}
}
@media (min-width: 1428px){
  .center{
      width: 100%;
  }

  #menu ul{
      width: auto;
      margin-right: 188px;
  }
  #banner{
    width: 77.5%
  }
  #content {
    width: 52%;
  }

}
@media (max-width: 1428px){
  .center{
      width: 100%;
  }

  #menu ul{
      width: auto;
      margin-right: 188px;
  }
  #banner{
  }
  #content {
    width: 52%;
  }

}
@media (max-width: 1314px){
 
  
  #content {
    width: 52%;
    margin-left: 165px;
  }

}
@media (max-width: 1242px){
  .center{
      width: 100%;
  }

  #menu ul{
    width: 652px;  }
  .app-logo{
    width: 40px;
  }
  .app-logo-header{
    width: 40px;

  }
 
}
@media (max-width: 1388px){

#content {
  width: 60%;
}

 .subheader{
  font-size: 34px;
 }


}
@media (max-width: 1130px){
  .card b{
    font-size: 14px;
  }
  .card p{
    font-size: 0px;

  }
  .card{
    width: 185px;
    height: 255px;
  }



}

@media (max-width:1089px){
  .container{
    width: 150% ;

  }
  #menu ul li{
    margin-left: 0px; height: 20px;}
    #menu ul {
      padding: 11px;
      width: 527px;
      margin-right: 31px;
  }
  #banner h1 {
    width: 640px;
  }
  }
 
  
@media (max-width: 1062px){
  .center{
      width: 100%;
  }
  #menu ul li{
    margin-right: 8px; height: 20px;}
  #menu ul{
    padding: 11px;
    width: 461px;
    margin-right: 31px;
  }
  .app-logo{
    width: 40px;
  }
  .app-logo-header{
    width: 40px;

  }
  #menu {
    width: 932px;
    margin-right: -108px;
}
 
}

@media (max-width:1056px){
  .logo{
    width: 150px;
    float:none;
    margin: 0px auto;

 
  }
  #menu{
    float: none;
    margin:0px auto;
    width: 1000px;
  }
}
@media (max-width:1042px){

  .cardimg {
    width: 165px;
    height: 158px;
}
.card{
  width: 166px;
  height: 222px;
  margin: 5px;
}
#content {
  width: 65%;
  margin-left: 92px;
}
}
@media(max-width:983px){

#menu ul {
  padding: 1px;
  width: 439px;  margin-right: 92px;
}
}
@media(max-width:916px){
  .cardimg {
    width: 137px;
    height: 134px;
}

.card {

  width: 139px;
  height: 213px;
  margin: 6px;
}
#content {
  width: 68%;
  margin-left: 61px;
}


}


@media (max-width: 889px){
  #content {
    width: 96%;
   
  }

}
@media(max-width:897px){


 
  #content {
    width: 85%;
    margin-left: 83px;
}
    .cardimg {
      width: 197px;
      height: 171px;
  }
  #content h2{
    width: 265px;
    font-size: 29px;
  }
  .card {
    width: 199px;
    height: 234px;
    margin: 6px;
  }

  
  }
@media(max-width: 819px){
#menu{
  font-size: 15px;
}
.ultimoarticle {
  width: 57px;

}
#banner h1 {
  width: 541px;
}
#menu ul {
  padding: 1px;
  width: 408px;
  margin-right: -1px;
}
#logo{
  font-size: 22px;
}
}
@media (max-width: 750px){
  .card {
    width: 199px;
    height: 234px;
    margin: 19px;
}
#content {
  width: 67%;
  margin-left: 138px;
}
}
@media (max-width:719px){
  #content {
    width: 75%;
    margin-left: 89px;
}
#menu {
  color:red;
  font-size: 13px;
}
#menu #ul{
width: 401px;
}
.app-logo-header {
  width: 25px;
}
}


@media (max-width: 881px){
    #logo{
        width: 265px;
    }

    #menu{
        width: auto;
    }
}


.slider-p{
    width: 100%;
    height: 30%;
}
@media(max-width:690px){
  #menu {
    font-size: 14px;
}
#menu ul {
  padding: 1px;
  width: 354px;
    margin-right: -1px;
}
}
@media(max-width:654px){
  #menu {
    font-size: 13px;
}
}
@media (max-width:633px){
  #menu {
    font-size: 12px;
}
#menu ul {
  padding: 1px;
  width: 322px;
  margin-right: -1px;
}
#content{
  width: 93%;  margin-left: 26px;
}
}
@media(max-width:601px){
  #logo span{
    display:none;

  }
  .app-logo {
    width: 85px;
}
#logo {
  width: 143px;
}
#menu {
  font-size: 12px;
}

}

@media (max-width:510px){
  .card {
    width: 261px;
    height: 345px;
    margin: 17px;
}
#menu{
  display: none;
}
#logo {
  width: 45px;
}
#logo img {
  display: block;
  float: right;
  height: 95px;
  margin-top: -65px;
  margin-right: -354px;
  width: 123px;
}
#MenuMovile {

  display: block;
  margin: 47px;
}
#content {
  width: 63%;
  margin-left: 90px;
}
#menu {
  font-size: 8px;
}
.card b {
  font-size: 21px;
}
#banner h1 {
  width: 394px;
}

.cardimg {
  width: 258px;
  height: 258px;
}
#menu ul {
  padding: 8px;
  width: 322px;
  margin-right: -1px;
}
}
@media (max-width: 497px){
    #header{
        min-height: 130px;
        overflow:hidden;
    }

    #menu,
    #menu ul{
        line-height: 50px;
    }

    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }

    #slider{
        height: 180px;
    }

    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }

    #slider .btn-white{
        margin-top: 20px;
    }

    #slider.slider-small{
        height: 100px;
    }

    #slider.slider-small h1{
       padding-top: 35px;
    }

    
}

@media(max-width:475px){

}
@media (max-width:439px){
  #content {
    width: 63%;
    margin-left: 66px;
}
}

@media (max-width:408px){
  #banner {
    width: 94.5%;
    height: 187px;

    background-position: -272px -180px;
    margin: 20px auto;
  
    overflow: hidden;
}
#banner h1{
  margin-top: 68px;
  width: 356px;
}
#content {
  width: 31%;
  margin-left: 56px;
}#logo img{
  margin-right: -316px;
}
}
@media (max-width:377px){
  #content {
    width: 43%;
    margin-left: 38px;
}
}
@media (max-width:330px){
  #logo img {
    margin-right: -266px;
}
#banner h1 {
  margin-top: 68px;
  width: 292px;
}
#content {

  width: 51%;
  margin-left: 16px;}
}
* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.spinner {
    display: inline-block;
    text-align: center;
    font-size: 10px;
 
      line-height: 0;
      box-sizing: border-box;
    
  }
  .rect{
    animation: sk-stretchdelay 1.2s ease-in-out infinite;
  }
  .spinner > div {
    height: 100%;
    width: 10%;
    display: inline-block;
  }
  .spinner .rect-2 {
    animation-delay: -1.1s;
  }
  .spinner .rect-3 {
    animation-delay: -1.0s;
  }
  .spinner .rect-4 {
    animation-delay: -0.9s;
  }
  .spinner .rect-5 {
    animation-delay: -0.8s;
  }
  .example-slide {
    align-items: center;
    background-color: #666;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 10rem;
  }
  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
    }
  }
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}




.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px
}

.card2 {
  margin: 0px 40px
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px
}

.image {
  width: 360px;
  height: 280px
}

.border-line {
  border-right: 1px solid #EEEEEE
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.linkedin {
  background-color: #2867B2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px
}

.or {
  width: 10%;
  font-weight: bold
}

.text-sm {
  font-size: 14px !important
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

a {
  color: inherit;
  cursor: pointer
}

.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer
}

.bg-blue {
  color: #fff;
  background-color: #1A237E
}

@media (min-width: 1000px) {
  body{
    background: black;
  }
  .logo {
      margin-left: 0px
  }

  .image {
      width: 300px;
      height: 220px
  }

  .border-line {
      border-right: none
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px
  }
  

  /*REGISTRE*/

.container-fluid{
  margin-top:-69px;
}

}